{% extends 'base.html' %}
{% load i18n static %}
{% block title%}VitaMix | About Us{% endblock %}

{% block content %}

<section class="about-us-content divider">
    <div class="container">
        <div class="pt-5">
            <h1 class="site-color font-weight-bold">{% trans 'About Us' %}</h1>
        </div>
        <div class="pt-2">
            <p>{% trans 'Vitamix.am is an online trading platform that allows you to shop online.' %}</p>
        </div>

        <div>
            <p>{% trans 'The services provided by Vitamix.am stand out with the following advantages․' %}</p>
        </div>
        <br>
        <div>
            <ul>
                <li>
                    {% trans 'High quality service based on customer feedback and requirements․' %}
                </li>
                <br>
                <li>
                    {% trans 'Through Vitamix.am you can make secure online transactions with different payment methods. The site allows you to pay both in cash and make purchases through the POS terminal and bank card․' %}
                </li>

            </ul>
        </div>
        <div class="pt-4">
            <h3 class="font-weight-bold">{% trans 'We wish you a pleasant shopping. With love, Vitamix.am' %}</h3>
        </div>
    </div>
</section>

<script>

</script>

{% endblock %}




