{% extends 'base.html' %}
{% load i18n static %}
{% block title%}VitaMix | About Us{% endblock %}

{% block content %}

<section class="about-us-content divider">
    <div class="container">
        <section class="about-us-section">
            <div class="about-us-header-part pt-3">
                <h1 class="header text-center site-color">About Vitamix</h1>
            </div>
            <div class="about-us-text-part pt-3">
                <p class="header-text text-center mt-4 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="about-us-img-part">
                <img class="about-us-img" src="{% static 'Images/about-us/vitamix-full-cercle.jpg' %}">
            </div>
        </section>
        <section class="about-us-section">
            <div class="about-us-text-part">
                <p class="header-text text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="about-us-img-part">
                <img class="about-us-img" src="{% static 'Images/about-us/veg-fr.jpg' %}">
            </div>
        </section>
        <section class="about-us-section">
            <div class="about-us-text-part">
                <p class="header-text text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="about-us-img-part pb-4">
                <img class="about-us-img" src="{% static 'Images/about-us/deliv.jpg' %}">
            </div>
        </section>
    </div>
</section>

<script>

</script>

{% endblock %}




