{% extends 'base.html' %}
{% load i18n static %}
{% block title%}VitaMix | About Us{% endblock %}

{% block content %}

<section class="about-us-content divider">
    <div class="container">
        <div class="pt-5">
            <h1 class="site-color font-weight-bold">About Us</h1>
        </div>
        <div class="pt-2">
            <p>Vitamix.am is an online trading platform that allows you to shop without leaving home.</p>
        </div>
        <div>
            <h3>Our Advantages</h3>
        </div>
        <div>
            <p>The services provided by Vitamix.am stand out with the following advantages</p>
        </div>
        <div>
            <ul>
                <li>
                    High quality service based on customer feedback and requirements
                </li>
                <li>
                    Fast delivery up to 1 hour
                </li>
                <li>
                    Through Vitamix.am you can make secure online transactions with different payment methods. The site allows you to pay both in cash and make purchases through the POS terminal և IDram payment system.
                </li>
                <li>
                    Ahead of each holiday, Vitamix.am presents a special section, thanks to which shopping becomes easier and more purposeful
                </li>
            </ul>
        </div>
        <div class="pt-4">
            <h3 class="font-weight-bold">We wish you a pleasant shopping</h3>
            <h3 class="font-weight-bold">With love, Vitamix.am</h3>
        </div>
    </div>
</section>

<script>

</script>

{% endblock %}




