{% extends 'base.html' %}
{% load i18n %}
{% block title%}VitaMix | Gallery{% endblock %}

{% block content %}

<button class="bg-transparent border-0 px-3 py-2 btn-close">
    <i class="fas fa-times"></i>
</button>
<div class="bg-close"></div>

<section class="gallery-content py-2 divider">
    <div class="right-bottom-bg pb-4">
        <div class="container">

            <div class="header-block pb-4">
                <h1 class="header site-color text-center">{% trans 'Gallery'%}</h1>
                <p class="header-text text-center mt-5">{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Beatae dicta illo nihil omnis voluptatibus? Excepturi minus
                    quae sit, suscipit velit voluptatem? Ipsum maiores necessitatibus
                    quaerat!'%}
                </p>
            </div>

            <div class="row">
                {% for image in images %}
                <div class="col-sm-4 py-2 px-sm-2 picdiv">
                    <button class="product-img-btn left">
                        <img src="{{ image.image.url }}" alt="" class="img gallpic">
                        <span class="flex-center search-plus gallsearch">
                            <i class="fas fa-search-plus"></i>
                        </span>
                    </button>
                </div>
                <div id="galModal" class="gallery-modal divider">
                    <span class="modalclose">×</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>

                {% endfor %}
            </div>


        </div>
    </div>

</section>

<script>

</script>

{% endblock %}




