{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title%}VitaMix | Order{% endblock %}

{% block content %}
<section class="order-content divider">
    <div class="container">
        <div class="pt-3">
            <h1 class="header site-color py-3">{% trans 'Delivery and payment' %}</h1>
        </div>

        <div>
            <h3 class="py-2">{% trans 'Payment methods' %}</h3>
            <p>{% trans 'Payment for the order in vitamix.am is made in several ways.' %}</p>
            <p>{% trans 'Online payment. Online payments on our site are made through  Master, Visa, Arca bank card.' %}</p>
            <p>{% trans 'Cash: This means that You pay for the delivery of the product You ordered when receiving the order in cash. After selecting this option on the relevant page of the site, You also indicate whether it is necessary to bring a small one. The sender provides Your cash register receipt. If for any reason You have not been provided with a cash register receipt, You must notify us immediately.' %}</p>
            <p>{% trans 'By payment card when receiving the order. If You choose this option, our courier will bring You a POS terminal, and You will be able to pay on the spot with Your card and get the appropriate coupon.' %}</p>
        </div>
        <div>
            <p>{% trans ' The delivery cost is 500 AMD in case of purchases up to 10000 AMD. Free delivery in case of 10.000 AMD and over. Delivery time changes periodically depending on the number of orders and other conditions. Delivery time may differ from actual delivery time.' %}</p>
        </div>

        <div>
            <div class="pt-3">
            <h1 class="header site-color py-3">{% trans 'Return or exchange of ordered goods.' %}</h1>
        </div>
            <div>
            <p>{% trans 'If your purchase has not undergone any quality or quantity changes, you can return it within 1 day by submitting the receipt.' %}</p>
            <p>{% trans 'However, if Your wish to return the product is conditioned by its quality features, You can replace the product with another one with the help of our courier.' %}</p>
        </div>

        </div>
    </div>
</section>

{% endblock %}



