{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="order-content pb-4 divider">

    <div class="container py-2">

        <h2 class="site-color py-3">{% trans 'How to order?' %}</h2>

        <ol>
            <li>
                <span>{% trans 'Fill in your address where to ship' %}</span>
            </li>
            <li>
                <span>{% trans 'Choose your favorite dish or product from many restaurants և specialty stores' %}</span>
            </li>
            <li>
                <span>{% trans 'Place an online order through the website or meat.am mobile application' %}</span>
            </li>
            <li>
                <span>{% trans 'Choose the payment method' %}</span>
                <ul class="py-3">
                    <li><span>{% trans 'Payment on the spot after delivery' %}</span></li>
                    <li><span>{% trans 'Credit card with website or mobile application' %}</span></li>
                    <li>
                        <div class="d-flex align-items-center py-2">
                            <div class="cards-img">
                                <img src="{% static 'Images/footer/cards.jpg' %}" alt="cards" class="img">
                            </div>
                            <span class="pl-3">{% trans 'through payment systems' %}</span>
                        </div>
                    </li>
                </ul>
            </li>
            <li><span>{% trans 'Open the door, we are already on the threshold' %}</span></li>
        </ol>

        <h5 class="font-weight-bold">{% trans 'How long does it take to deliver?' %}</h5>

        <p>
            {% trans 'The average delivery time is 40 minutes, depending on the cooking time.
            as well as the distance between your location and the restaurant.' %}

        </p>

        <h5 class="font-weight-bold">{% trans 'How much does shipping cost?' %}</h5>

        <p>{% trans 'Shipping cost varies depending on' %}</p>

        <ul>
            <li>{% trans 'distance from the food point / specialty և customer' %}</li>
            <li>{% trans 'How many food outlets / specialty stores deliver?' %}</li>
            <li>{% trans 'weather conditions' %}</li>
            <li>{% trans 'due to traffic congestion.' %} </li>
        </ul>

        <p>{% trans 'You can see the cost of delivery at the moment in the data on the item page' %}</p>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">{% trans 'Distance:' %}</th>
                <th scope="col">{% trans 'Order from 1 point' %}</th>
                <th scope="col">{% trans 'order from each of the following items' %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% trans 'up to 3 km' %}</td>
                <td>{% trans '400 dram' %}</td>
                <td>{% trans '400 drams each' %}</td>
            </tr>
            <tr>
                <td>{% trans '3,01 – 5km' %}</td>
                <td>{% trans '600 dram' %}մ</td>
                <td>{% trans '600 drams each' %}</td>
            </tr>
            <tr>
                <td>{% trans '5,01 - 7km' %}</td>
                <td>{% trans '800 dram' %}</td>
                <td>{% trans '800-drams each' %}</td>
            </tr>
            </tbody>
        </table>


    </div>
    <!--End of container-->
</section>

{% endblock %}



