{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title%}VitaMix | Order{% endblock %}

{% block content %}
<section class="order-content divider">
    <div class="container">
        <div class="pt-3">
            <h1 class="header site-color py-3">{% trans 'Delivery and payment' %}</h1>
        </div>
        <div>
            <p>The cost of order delivery in Yerevan is 500 drams.</p>
        </div>
        <div>
            <h3 class="py-2">Payment method</h3>
            <p>Payment at Vitamix.am can be made in two ways: online or in person. Online payments are made through Idram, cash և POS-terminal payment systems. They are serviced Cardholders with Visa և Master Card. Cash payments are made upon delivery at the moment in AMD.</p>
            <p>The use of cash registers does not have to be remotely related to the sale of electronic communications or television shops. / Basis17.06.16 ՀՕ-116-N /</p>
        </div>
        <div>
            <h3 class="py-2">Delivery order</h3>
            <p>Delivery is carried out in Yerevan within 1 hour, depending on the number of delivery points.</p>
        </div>
        <div>
            <p>The following tariffs apply for delivery.</p>
        </div>
        <div class="pt-3 pb-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">City</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody class="table-body">
                <tr>
                    <td>Yerevan</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>Argavand</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>Noragavit</td>
                    <td>1000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}



