{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title%}VitaMix | Privacy Policy{% endblock %}

{% block content %}
<section class="privacy-content pb-5 divider">
    <div class="container">
        <div class="privacy-header-part pt-4 pb-3">
            <h1 class="header site-color">{% trans 'Privacy Policy' %}</h1>
        </div>
        <div class="privacy-text-part">
            <p>{% trans 'This Privacy Policy describes how we handle your personal information for our services.' %}</p>
            <h3>{% trans 'Personal Information Protection' %}</h3>
            <p>{% trans 'We may collect and store the following personal information.' %}</p>
            <ul>
                <li>{% trans 'Your email address, phone number, physical contact information' %}</li>
                <li>{% trans 'Your bank account details if the payment is made via bank transfer. Please keep in mind that we DO NOT possess your payment (credit or debit) card information since all online financial transactions are made through the AmeriaBank payment systems.' %}</li>
                <li>{% trans 'Your shopping history, ‘Favorites’ list, viewed items etc.' %}</li>
                <li>{% trans 'Your shipping address and other information you provide to ship an item.' %}</li>
                <li>{% trans 'Your correspondence sent to us.' %}</li>
            </ul>
            <br>
            <h3>{% trans 'Non disclosure' %}</h3>
            <p>{%trans 'The information you provide is absolutely private and cannot be shared with a third party.'%}</p>
        </div>
    </div>
</section>
{% endblock %}