{% extends 'base.html' %}
{% load i18n %}
{% block content %}


    <section class="home-content divider">
        <div class="right-bottom-bg">
            <div class="container">

                <div class="header-block">
                    <h1 class="header mb-5">{% trans 'Our Menu' %}</h1>
                    <p style="color: red" class="header-text text-center">
                        {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% endif %}

                    </p>
                </div>


                <div class="row">
                    {% for category in categories %}

                        <div class="col-sm-4 py-2 px-sm-2">
                            <a href="{% url 'category_product_list' category.url %}" class="product-item">
                                <img src="{{ category.image.url }}" alt="" class="img product-pic">

                                <span class="flex-center">
                            <i class="fas fa-eye"></i>
                        </span>
                            </a>
                            <a href="{% url 'category_product_list' category.url %}"
                               class="food-name">{{ category.title }}</a>
                        </div>

                    {% endfor %}
                </div>


            </div>
            {% if page_obj.has_other_pages %}
            <div class="pegination pb-3">
                <div class="nav-links">
                    {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                    <span class="page-numbers current"> {{ p }}</span>
                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                    <a class="page-numbers" href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}

                    <a class="page-numbers" href="?page={{ page_obj.next_page_number }}"><i
                            class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>

    </section>
{% endblock %}