{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section class="menu-content py-4 divider">

    <div class="menu-header text-center p-3">
        <h4>{% trans 'Lorem ipsum dolor sit.' %}</h4>
        <p>
            {% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequuntur distinctio error, illo ipsa odit quas qui similique?
            Minima praesentium, veritatis? Ab iusto praesentium quis soluta.
            Cumque eum id nihil numquam.' %}

        </p>
    </div>
    <!--End of menu-header-->

    <div class="container pb-4">

        <div class="row">
            {% for product in products %}

            <div class="col-md-6 py-4">
                <div class="d-flex food-container">
                    <a href="{% url 'product' product.category.url product.url %}" class="food-img">
                        <img src="{{ product.image.url }}" alt="" class="img">
                    </a>
                    <div class="food-block pl-sm-3">
                        <div class="food-info d-flex justify-content-between pb-2">
                            <a href="{% url 'product' product.category.url product.url %}" class="food-name font-weight-bold">
                               {{ product.title }}
                            </a>
                        </div>
                        <div class="food-type">
<!--                            <span>{% trans 'Food Type' %} :  </span>-->
<!--                            <span>{{ product.product_type }}</span>-->
                        </div>
                        <div class="delivery-time">
                            <span>Price:{{product.price}}dr </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--col-md-6-->
             {% endfor %}
        </div>
        <!--End of row-->

    </div>
                {% if page_obj.has_other_pages%}
            <div class="pegination">

                <div class="nav-links">
                    {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                    <span class="page-numbers current">{{p}}</span>
                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                     <a class="page-numbers" href="?page={{p}}">{{p}}</a>
                    {% endif %}
                    {% endfor %}

                     {% if page_obj.has_next%}

                    <a class="page-numbers" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endif%}
    <!--End of container-->
</section>

{% endblock %}

