{% extends 'base.html' %}
{% load i18n %}
{% block title%}VitaMix | Menu{% endblock %}
{% block content %}
<section class="menu-content py-4 divider">

    <div class="menu-header text-center p-3">
        <h4>{% trans 'Lorem ipsum dolor sit.' %}</h4>
        <p>
            {% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequuntur distinctio error, illo ipsa odit quas qui similique?
            Minima praesentium, veritatis? Ab iusto praesentium quis soluta.
            Cumque eum id nihil numquam.' %}

        </p>
    </div>
    <!--End of menu-header-->

    <div class="container pb-4">

        <div class="row">
            {% for product in products %}

            <div class="col-md-6 py-4">
                <div class="d-flex food-container">
                    <a href="{% url 'product' product.category.url product.url %}" class="food-img">
                        <img src="{{ product.image.url }}" alt="" class="img">
                    </a>
                    <div class="food-block pl-sm-3">
                        <div class="food-info d-flex justify-content-between pb-2">
                            <a href="{% url 'product' product.category.url product.url %}"
                               class="food-name font-weight-bold">
                                {{ product.title }}
                            </a>
                        </div>
                        <div class="price py-2 site-color">
                            {% if product.new_price %}
                                <span>{{product.start_quantity}}</span>
                                <del><span>{{ product.price }}</span>{% trans 'dr' %}</del>
                                <span class="font-weight-bold"><span id="food-price">{{ product.new_price }}</span>{% trans 'dr' %}</span>
                            {% else %}
                                <span>{{product.start_quantity}}</span>
                                <span class="font-weight-bold"><span id="food-price">{{ product.price }}</span>{% trans 'dr' %}</span>
                            {% endif %}
                        </div>
                        <div class="d-flex add-to-basket-block">
                            <form action="{% url 'change_qty_minus' %}" method="post">
                                {% csrf_token %}
                                <input type="number" name="decrement_item" hidden value="{{ item.id }}">
                                <button type="submit" class="btn shadow-none btn-dec flex-center mr-2 border-0 btn-dec">
                                    <i class="fas fa-minus site-color"></i>
                                </button>
                            </form>
                            <span class="mr-2 product-quantity align-middle">{{item.qty}}</span>
                            <form action="{% url 'change_qty_plus' %}" method="post">
                                {% csrf_token %}
                                <input type="number" hidden name="increment_item" value="{{ item.id }}">
                                <button type="submit" class="btn shadow-none btn-inc flex-center mr-2 border-0">
                                    <i class="fas fa-plus site-color"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    {% if page_obj.has_other_pages%}
    <div class="pegination">

        <div class="nav-links">
            {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
            <span class="page-numbers current">{{p}}</span>
            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
            <a class="page-numbers" href="?page={{p}}">{{p}}</a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next%}

            <a class="page-numbers" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right"
                                                                                  aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
    {% endif%}
    <!--End of container-->
</section>

{% endblock %}

