{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<section class="password-reset-confirm-content">
    <div class="container">
        <div class="d-flex flex-column pt-5">
            <div class="d-flex justify-content-center py-3">
	            <h1 class="font-weight-bold mt-3">Password reset complete</h1>
            </div>
            <div class="d-flex justify-content-center border-top py-3">
                <p>Your password has been set. You may go ahead and log in now.</p>
            </div>
            <div class="d-flex justify-content-center py-2">
                <a href="/" class="btn btn-primary reset-complete-link-btn" data-toggle="modal"
                   data-target="#sign-in-modal">Log in</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}