{% extends 'base.html' %}
{% load static i18n %}

{% block title%}VitaMix | Product{% endblock %}

{% block content %}


<section class="product-content pb-2 divider">

    <div class="product-header text-center flex-center">
        <h1 class="header site-color">{% trans 'Food Details' %}</h1>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="d-flex justify-content-center pt-1 pb-3">
        <div class="message">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <!--End of menu-header-->

    <div class="container py-4 mt-2">
        <div class="d-flex">
            <div class="product-container d-flex pl-2 pr-lg-4">
                <div class="food-img">
                    <img src="{{ product.image.url }}" alt="" class="img product-pic">
                </div>
                <div class="food-info pl-sm-3">
                    <div class="food-name font-weight-bold" id="food-name">{{ product.title }}</div>
                    <div class="price py-2 site-color">
                        {% if product.new_price %}
                        <del><span>{{ product.price }}</span>{% trans 'dr' %}</del>
                        <span class="font-weight-bold"><span id="food-price">{{ product.new_price }}</span>{% trans 'dr' %}</span>
                        {% else %}
                        <span class="font-weight-bold"><span id="food-price">{{ product.price }}</span>{% trans 'dr' %}</span>
                        {% endif %}
                    </div>
                    <div class="description pt-2">
                        <p>
                            {{ product.description }}
                        </p>
                    </div>
                    <!--                    <div class="food-type font-weight-bold">-->
                    <!--                        <span>{% trans 'Food Type' %} : <span>{{ product.product_type }}</span></span>-->
                    <!--                    </div>-->
                    <!--                    <form class="product-form js-product-form" data-login="{% if user.is_authenticated %}is_active{% endif %}" action="{% url 'add_to_basket' %}" method="post">-->
                    <form class="product-form js-product-form"
                          data-login="{% if user.is_authenticated %}is_active{% endif %}" action="{% url 'add_to_basket' %}" method="post">
                        {% csrf_token %}

                        <div class="add-to-basket-block d-flex flex-wrap">
                            <button type="button" class="btn shadow-none js-btn-dec flex-center mr-2 mt-3 js-btn-dec">
                                <i class="fas fa-minus site-color"></i>
                            </button>
                            {% if product.wholesale %}
                            <input type="text" value="{{product.min_order_quantity}}" data-change-size="10"
                                   class="product-quantity" name="product_quantity">
                            {% else %}
                            <input type="text" value="{{product.min_order_quantity}}"
                                   data-change-size="{{product.start_quantity}}" class="product-quantity mt-3"
                                   name="product_quantity">
                            {% endif %}
                            <button type="button" class="btn shadow-none js-btn-inc flex-center mr-2 mt-3 js-btn-inc">
                                <i class="fas fa-plus site-color"></i>
                            </button>
                            <input type="text" hidden name="product_url" value="{{ product.pk }}">
                            <button type="submit" class="btn shadow-none add-to-basket-btn mt-3" data-toggle="modal"
                                    data-target="#add-to-basket">
                                <span>{% trans "Add to Card" %}</span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
            <!--product-container-->

            <div class="other-products-container">
                <h5 class="dishes-header">{% trans 'Similar products' %}</h5>
                {% for product in products %}
                <div class="food-block d-flex py-2">
                    <a href="{% url 'product' product.category.url product.pk %}" class="d-block food-image">
                        <img src="{{ product.image.url }}" alt="" class="img product-pic">
                    </a>
                    <div class="pl-2">
                        <a href="{% url 'product' product.category.url product.pk %}"
                           class="title font-weight-bold site-color">{{ product.title }}</a>
                        <div class="description">
                            <span>
                                {{ product.description|truncatewords:6 }}
                            </span>
                        </div>
                    </div>
                    <!--food-info-->
                </div>
                <!--food-block-->
                {% endfor %}

            </div>
            <!--other-products-container-->
        </div>
    </div>
    <script src="{% static 'JS/basket.js' %}"></script>
</section>

{% endblock %}
