{% load static %}
{% load i18n %}

<footer class="footer py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-3 py-1">
                <div class="cards-img">
                    <img src="{% static 'Images/footer/cards.jpg' %}" alt="cards" class="img">
                </div>
            </div>
            <div class="col-sm-3 py-1">
                <div class="pt-1 pb-2">
                    <a href="{% url 'terms_order' %}">
                      {% trans 'General Terms and Conditions' %}
                    </a>
                </div>
                <div class="pb-2">
                    <a href="{% url 'privacy' %}">
                        {% trans 'Privacy policy' %}
                    </a>
                </div>
            </div>
            <div class="col-sm-3 py-1">
                <div class="pt-1 pb-2">
                    <a href="{% url 'about_us' %}">
                        {% trans 'About us' %}
                    </a>
                </div>
                <div class="pb-2">
                    <a href="{% url 'contact' %}">
                        {% trans 'Contact' %}
                    </a>
                </div>
            </div>
            <div class="col-sm-3 py-1">
                <div class="pt-1 pb-2">
                    {% trans 'Email' %}: Username@gmail.com
                </div>
                <div class="pb-2">
                    {% trans 'Phone' %}: (+660 256 24857)
                </div>
            </div>
        </div>
    </div>
</footer>
