<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basket</title>
    <link rel="shortcut icon" type="image/png" href="./Images/logo/logo.jpg">
    <link rel="stylesheet" href="./Libs/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./Libs/font_awesome/font_awesome.css">
    <link rel="stylesheet" href="./CSS/fonts.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/media.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white py-0">
    <div class="container nav-height">
        <a class="navbar-brand" href="./index.html">
            <img src="./Images/logo/logo.jpg" alt="" class="img">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end nav-height" id="navbarNav">
            <ul class="navbar-nav nav-height">
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./index.html">HOME</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./order.html">ORDER</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./gallery.html">GALLERY</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./contact.html">CONTACT</a>
                </li>
                <li class="nav-item nav-height dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold nav-height" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ENGLISH
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Русский</a>
                        <a class="dropdown-item" href="#">Հայերեն</a>
                    </div>
                </li>
                <li class="nav-item nav-height pl-lg-5">
                    <button class="btn sign-in shadow-none px-lg-3 px-0 py-2" data-toggle="modal" data-target="#sign-in-modal">
                        <span class="d-lg-none font-weight-bold pr-2">SIGN IN</span>
                        <i class="fas fa-sign-in-alt"></i>
                        <!--<i class="fas fa-sign-out-alt"></i>-->
                        <!--<i class="fas fa-user"></i>-->
                    </button>
                    <div class="pb-1 sign-in-basket-line">|</div>
                </li>
                <li class="nav-item nav-height px-lg-2 px-0 py-1">
                    <a class="nav-link site-color font-weight-bold nav-height basket" href="./basket.html">
                        <span class="d-lg-none pr-2">Basket</span>
                        <i class="fas fa-shopping-basket"></i>
                        <span class="product-quantity">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<section class="basket-content pb-4 divider">

    <div class="container py-2">

        <div class="header-block">
            <h3 class="site-color py-3 header">
                <i class="fas fa-shopping-basket"></i>
                <span class="font-weight-bold">My Basket</span>
            </h3>
        </div>


        <table class="table py-3">
            <thead class="thead-light">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>


        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="py-3 pr-5">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3">Or toggle this other custom radio</label>
                </div>
            </div>

            <div class="cost">
                <div class="shipping-price py-3 font-weight-bold">
                    <span class="font-weight-bold pr-2">Shipping Price</span>
                    <span class="price site-color"></span>
                    <span class="site-color pl-2"> դր</span>
                </div>
                <div class="products-price font-weight-bold">
                    <span class="pr-2">Total Price </span>
                    <span class="price site-color products-total-price"></span>
                    <span class="site-color pl-2"> դր</span>
                </div>
            </div>

        </div>

        <div class="order-buttons d-flex justify-content-between py-3">
            <a href="main/menu.html" class="btn shadow-none btn-lg">Continue Ordering</a>
            <button type="submit" class="btn shadow-none btn-lg">Order</button>
        </div>

    </div>
    <!--End of container-->
</section>


<footer class="footer py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-4 py-1">
                <div class="cards-img">
                    <img src="./Images/footer/cards.jpg" alt="cards" class="img">
                </div>
            </div>
            <div class="col-sm-4 py-1">
                <div>
                    <a href="./general_provisions.html">
                        Ընդհանուր դրույթներ և պայմաններ
                    </a>
                </div>
                <div>
                    <a href="./order.html">
                        Ինչպես պատվիրել
                    </a>
                </div>
            </div>
            <div class="col-sm-4 py-1">
                <div>Email: Username@gmail.com</div>
                <div>Phone: (+660 256 24857)</div>
            </div>
        </div>
    </div>
</footer>


<!-- Sign In Modal -->
<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="sign-in-register-block">
                    <button type="button" class="btn shadow-none sign-in">Sign In</button>
                    <span class="line"></span>
                    <button type="button" class="btn shadow-none register site-color">Register</button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="name" placeholder="Name">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="lastname" placeholder="Lastname">
                    </div>
                    <div class="form-group py-2">
                        <input type="email" class="form-control shadow-none" id="email" placeholder="Email">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="phone" placeholder="Phone number">
                    </div>
                    <div class="form-group py-2">
                        <input type="password" class="form-control shadow-none" id="password" placeholder="Password">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="password" class="form-control shadow-none" id="password-register_2" placeholder="Repeat Password">
                    </div>
                    <div class="custom-control custom-checkbox pb-3 pl-4 pr-3 ml-1">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label font-weight-bold" for="customCheck1">Հիշել ինձ</label>
                    </div>
                    <div class="pt-4">
                        <button type="submit" class="btn btn-block shadow-none modal-sign-in-btn">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- End of Sign In Modal -->



<script src="./Libs/jQuery/jquery.js"></script>
<script src="./Libs/Bootstrap/popper.js"></script>
<script src="./Libs/Bootstrap/bootstrap.js"></script>
<script src="./JS/gallery.js"></script>
<script src="./JS/contact.js"></script>
<script src="./JS/basket.js"></script>
<script src="./JS/script.js"></script>
</body>
</html>
