<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="shortcut icon" type="image/png" href="./Images/logo/logo.jpg">
    <link rel="stylesheet" href="./Libs/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./Libs/font_awesome/font_awesome.css">
    <link rel="stylesheet" href="./CSS/fonts.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/media.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white py-0">
    <div class="container nav-height">
        <a class="navbar-brand" href="./index.html">
            <img src="./Images/logo/logo.jpg" alt="" class="img">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end nav-height" id="navbarNav">
            <ul class="navbar-nav nav-height">
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./index.html">HOME</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./order.html">ORDER</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./gallery.html">GALLERY</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./contact.html">CONTACT</a>
                </li>
                <li class="nav-item nav-height dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold nav-height" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ENGLISH
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Русский</a>
                        <a class="dropdown-item" href="#">Հայերեն</a>
                    </div>
                </li>
                <li class="nav-item nav-height pl-lg-5">
                    <button class="btn sign-in shadow-none px-lg-3 px-0 py-2" data-toggle="modal" data-target="#sign-in-modal">
                        <span class="d-lg-none font-weight-bold pr-2">SIGN IN</span>
                        <i class="fas fa-sign-in-alt"></i>
                        <!--<i class="fas fa-sign-out-alt"></i>-->
                        <!--<i class="fas fa-user"></i>-->
                    </button>
                    <div class="pb-1 sign-in-basket-line">|</div>
                </li>
                <li class="nav-item nav-height px-lg-2 px-0 py-1">
                    <a class="nav-link site-color font-weight-bold nav-height basket" href="./basket.html">
                        <span class="d-lg-none pr-2">Basket</span>
                        <i class="fas fa-shopping-basket"></i>
                        <span class="product-quantity">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>


<section class="contact-content pb-4 divider">

    <div class="container py-2">

        <h2 class="site-color font-weight-bold pb-4">Կապ</h2>

        <div class="row">

            <div class="col-lg-4 for-customers pb-4">
                <h4 class="site-color text-center">Հաճախորդների համար</h4>

                <div class="d-flex flex-lg-column help-container">
                    <div class="text-center help-block">
                        <div class="site-color pt-3">
                            <i class="far fa-question-circle"></i>
                        </div>
                        <div class="help pt-3 pb-2">Օգնություն</div>
                        <div class="email-block">
                            <span>Էլ. փոստ: </span>
                            <span class="email site-color">support@meat.am</span>
                        </div>
                        <div class="phone-number">
                            <span>Թեժ գիծ:</span>
                            <span>010 333 888</span>
                        </div>
                    </div>
                    <!--help-block-->

                    <div class="text-center help-block">
                        <div class="site-color pt-3">
                            <i class="fas fa-money-check-alt"></i>
                        </div>
                        <div class="help pt-3 pb-2">Վճարման խնդիրներ</div>
                        <div class="email-block">
                            <span>Էլ. փոստ: </span>
                            <span class="email site-color">support@meat.am</span>
                        </div>
                        <div class="phone-number">
                            <span>Արձագանքման ժամանակը: 1 աշխատանքային օր</span>
                        </div>
                    </div>
                    <!--help-block-->
                </div>

            </div>
            <!--for-customers-->

            <div class="form-container col-lg-8">

                <div class="header text-center pb-4">
                    <h5 class="site-color font-weight-bold">Գրեք մեզ հաղորդագրություն</h5>
                    <span>Մենք միշտ պատրաստ ենք պատասխանել Ձեր հարցերին</span>
                </div>

                <form>

                    <div class="d-sm-flex justify-content-between form-name-lastname">
                        <div class="form-group py-2 pr-sm-2">
                            <label for="name_contact" class="col-form-label font-weight-bold d-none">Name</label>
                            <input type="text" class="form-control shadow-none" id="name_contact" placeholder="Name">
                        </div>

                        <div class="form-group py-2 pl-sm-2">
                            <label for="lastname_contact" class="col-form-label font-weight-bold d-none">Lastname</label>
                            <input type="text" class="form-control shadow-none" id="lastname_contact" placeholder="Lastname">
                        </div>
                    </div>


                    <div class="form-group py-2">
                        <label for="email_contact" class="col-form-label font-weight-bold d-none">Email</label>
                        <input type="email" class="form-control shadow-none" id="email_contact" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="d-none">Example textarea</label>
                        <textarea class="form-control shadow-none" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                    </div>

                    <!--upload file-->
                    <div class="form_hint font-weight-bold py-2">Կցել ֆայլ</div>
                    <div class="form_block fl site-color">
                        <label class="d-flex">
                            <i class="fas fa-upload"></i>
                            <input type="file" name="file" class="file_input d-none">
                            <span class="input_button font-weight-bold">Բեռնել</span>
                            <span class="file_name font-weight-bold pl-2">food_1.jpg</span>
                        </label>
                        <span class="file_delete font-weight-bold">
                        <i class="fas fa-times"></i>
                    </span>
                    </div>
                    <!--End of upload file-->

                    <div class="pt-4 send-btn">
                        <button type="submit" class="btn btn-block shadow-none">ՈՒղարկել</button>
                    </div>

                </form>

            </div>
            <!--form-container-->
        </div>
        <!--row-->


        <h4 class="text-center site-color py-5">Գլխամասային գրասենյակի հասցե և կոնտակտներ</h4>
        <div class="row">
            <div class="col-md-4 pb-3">

                <div class="p-2">
                    <span class="site-color">Թեժ գիծ: +37410888333</span>
                    <span>(միայն պատվերների համար)</span>
                </div>

                <div class="p-2">
                    <span>Հասցե՝ </span>
                    "հասցեն"
                </div>

                <div class="p-2">
                    <span>Հեռախոսահամար` </span>
                    <span>+374 10 888 333;</span>
                    <span>+374 12 888 333</span>
                </div>

                <div class="p-2">
                    <span>Էլ. փոստի հասցե </span>
                    <span>info@meat.am</span>
                </div>

            </div>
            <!--col-md-4-->

            <div class="col-md-8">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa6d4d73fe680ad022fddc95eb2287b1cae96d2c1e15a25f8debb86db04aef289&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>

        </div>


    </div>
    <!--End of container-->
</section>


<footer class="footer py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-4 py-1">
                <div class="cards-img">
                    <img src="./Images/footer/cards.jpg" alt="cards" class="img">
                </div>
            </div>
            <div class="col-sm-4 py-1">
                <div>
                    <a href="./general_provisions.html">
                        Ընդհանուր դրույթներ և պայմաններ
                    </a>
                </div>
                <div>
                    <a href="./order.html">
                        Ինչպես պատվիրել
                    </a>
                </div>
            </div>
            <div class="col-sm-4 py-1">
                <div>Email: Username@gmail.com</div>
                <div>Phone: (+660 256 24857)</div>
            </div>
        </div>
    </div>
</footer>


<!-- Sign In Modal -->
<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="sign-in-register-block">
                    <button type="button" class="btn shadow-none sign-in">Sign In</button>
                    <span class="line"></span>
                    <button type="button" class="btn shadow-none register site-color">Register</button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="name" placeholder="Name">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="lastname" placeholder="Lastname">
                    </div>
                    <div class="form-group py-2">
                        <input type="email" class="form-control shadow-none" id="email" placeholder="Email">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="phone" placeholder="Phone number">
                    </div>
                    <div class="form-group py-2">
                        <input type="password" class="form-control shadow-none" id="password" placeholder="Password">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="password" class="form-control shadow-none" id="password-register_2" placeholder="Repeat Password">
                    </div>
                    <div class="custom-control custom-checkbox pb-3 pl-4 pr-3 ml-1">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label font-weight-bold" for="customCheck1">Հիշել ինձ</label>
                    </div>
                    <div class="pt-4">
                        <button type="submit" class="btn btn-block shadow-none modal-sign-in-btn">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- End of Sign In Modal -->


<script src="./Libs/jQuery/jquery.js"></script>
<script src="./Libs/Bootstrap/popper.js"></script>
<script src="./Libs/Bootstrap/bootstrap.js"></script>
<script src="./JS/gallery.js"></script>
<script src="./JS/contact.js"></script>
<script src="./JS/basket.js"></script>
<script src="./JS/script.js"></script>
</body>
</html>
