<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General Provisions</title>
    <link rel="shortcut icon" type="image/png" href="./Images/logo/logo.jpg">
    <link rel="stylesheet" href="./Libs/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./Libs/font_awesome/font_awesome.css">
    <link rel="stylesheet" href="./CSS/fonts.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/media.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white py-0">
    <div class="container nav-height">
        <a class="navbar-brand" href="./index.html">
            <img src="./Images/logo/logo.jpg" alt="" class="img">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end nav-height" id="navbarNav">
            <ul class="navbar-nav nav-height">
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./index.html">HOME</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./order.html">ORDER</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./gallery.html">GALLERY</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./contact.html">CONTACT</a>
                </li>
                <li class="nav-item nav-height dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold nav-height" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ENGLISH
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Русский</a>
                        <a class="dropdown-item" href="#">Հայերեն</a>
                    </div>
                </li>
                <li class="nav-item nav-height pl-lg-5">
                    <button class="btn sign-in shadow-none px-lg-3 px-0 py-2" data-toggle="modal" data-target="#sign-in-modal">
                        <span class="d-lg-none font-weight-bold pr-2">SIGN IN</span>
                        <i class="fas fa-sign-in-alt"></i>
                        <!--<i class="fas fa-sign-out-alt"></i>-->
                        <!--<i class="fas fa-user"></i>-->
                    </button>
                    <div class="pb-1 sign-in-basket-line">|</div>
                </li>
                <li class="nav-item nav-height px-lg-2 px-0 py-1">
                    <a class="nav-link site-color font-weight-bold nav-height basket" href="./basket.html">
                        <span class="d-lg-none pr-2">Basket</span>
                        <i class="fas fa-shopping-basket"></i>
                        <span class="product-quantity">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>


<section class="provisions-content pb-4 divider">

    <div class="container py-2">

        <div class="provisions-text text-justify">

            <h3 class="site-color pt-2 pb-4 text-left">Ընդհանուր դրույթներ և պայմաններ</h3>

            <p>
                Ստորև ներկայացված են www.meat.am կայքից, հեռախոսային հավելվածից և առաքման
                ծառայությունից օգտվելու պայմանները. meat.am-ը Հայաստանում օնլայն պատրաստի
                սնունդ պատվիրելու ամենամեծ պորտալն է: meat.am ընկերության գլխավոր գրասենյակը
                գտնվում է ՀՀ, ք. Երևան, Սասնա Ծռեր փող. 2 շենք, 247, 248 տարածք հասցեում:
                Ինտերնետ Պրոջեքտս ՍՊԸ-ն հանդիսանում է meat.am ընկերության վերադաս ընկերությունը,
                որը գրանցված է Հայաստանի Հանրապետության Իրավաբանական Անձանց Պետական Ռեգիստրի
                Գործակալությունում թիվ 03Ա277205 վկայականի ներքո: Վերջին փոփոխությունները կատարվել
                են 2013 թվականի ապրիլի 3-ին: meat.am-ի հետ կապված ցանկացած հարցով կարող եք դիմել
                Ինտերնետ Պրոջեքտս ՍՊԸ-ի գրասենյակ՝ ՀՀ, ք. Երևան, Սասնա Ծռեր փող. 2 շենք, 247,
                248 տարածք հասցեով:
            </p>

            <strong class="site-color">Գաղտնիություն</strong>

            <p>
                meat.am-ը մեծ պատասխանատվությամբ է վերաբերվում իր հաճախորդների
                տվյալների գաղտնիության պահպանմանը և հավաստիացնում է, որ անձնական
                տվյալները կտրամադրվի միայն այն կողմին, որտեղից գրանցվել է պատվերը:
                meat.am-ը խիստ հետևում է Անձնական Տվյալների Պաշտպանության օրենքին:
            </p>

            <strong>Անձնական տվյալների դիտում և խմբագրում</strong>

            <p>
                Համաձայն Անձնական Տվյալների Պաշտպանության օրենքի՝ Դուք իրավունք ունեք դիտել
                և խմբագրել մեր կողմից հավաքագրված Ձեր անձնական տեղեկատվությունը: Դա իրականացնելու
                համար խնդրում ենք նամակով դիմել info@meat.am հասցեին կամ զանգահարել
                +37410-222-000 հեռախոսահամարով:
            </p>

            <strong class="site-color">Վաճառքի և առաքման պայմանները</strong>
            <strong class="d-block">Անձնական տվյալների գրանցման գործընթաց</strong>

            <p>
                Հաճախորդի անձնական տվյալները օգտագործվում են միայն համաձայն Ընդհանուր
                դրույթներ և պայմանների: meat.am-ը հաճախորդի անձնական տվյալներ չի վաճառում,
                տրամադրում միայն այն կողմին, որտեղից գրանցվել է պատվերը: Բացառությամբ ՀՀ
                օրենսդրությամբ սահմանված դեպքերի, ինչպես նաև այն կողմերին, ովքեր ունեն ուղղակի
                ներգրավվածություն այս համաձայնագրում, օրինակ` բանկերը, հաշվապահական
                ընկերությունները, իրավաբանական ծառայությունները, և այլն:
            </p>

            <strong>Անձնական տվյալների օգտագործումը մարքեթինգային նպատակներով</strong>

            <p>
                meat.am-ն իր գործընկերներին մարքեթինգային ծառայություններ մատուցելիս կարող
                է օգտագործել իր հաճախորդների անձնական տվյալները և այդ տվյալների հիման վրա
                իր և/կամ իր գործընկերների անունից իր հաճախորդներին տրամադրի բուկլետներ,
                ուղարկի էլեկտրոնային կամ թղթային նամակներ, ուղարկի SMS-ներ, կատարի զանգեր,
                օգտագործի այլ հաղորդակցման միջոցներ: Նման տեղեկատվություն չստանալու համար
                հաճախորդը պետք է տեղեկացնի meat.am-ին դրանցից հրաժարվելու մասին՝ զանգահարելով
                010-222-000 հեռախոսահամարով կամ ուղարկելով էլեկտրոնային նամակ info@meat.am
                հասցեով կամ փոստային նամակ ՀՀ, ք․ Երևան, Սասնա Ծռեր փող. 2 շենք, 247, 248 հասցեով:
            </p>

            <strong>Կայքում ներկայացված ռեստորանների և մասնագիտացված խանութների հետ փոխհարաբերությունները</strong>

            <p>
                meat.am-ը պատվեր ստանալուն պես, այն անմիջապես փոխանցում է համապատասխան ռեստորան
                կամ մասնագիտացված խանութ: Եթե որևէ պատճառով առաքումը հնարավոր չէ կազմակերպել,
                ապա meat.am-ն որքան հնարավոր է շտապ տեղեկացնում է Ձեզ այդ մասին: Նշված գործընթացում
                meat.am-ը հանդիսանում է որպես միջնորդ հաճախորդի և ռեստորանի միջև: Առաքման հետ կապված
                փոփոխության իրական պայմանները կախված է միայն ընտրված ռեստորանից: meat.am-ի
                պատասխանատվությունն այս գործընթացում խիստ սահմանափակ է՝ հաճախորդի պատվերը փոխանցել
                համապատասխան ռեստորան և առաքել ռեստորանի կողմից պատրաստած սնունդը հաճախորդին:
            </p>

            <strong>Օնլայն վճարում</strong>

            <p>
                Անմիջապես կայքում օնլայն վճարում կատարելուց հետո meat.am-ը պատվերը փոխանցում է
                համապատասխան ռեստորան: Օնլայն վճարումն ենթակա է վերադարձի միայն այն դեպքում, երբ
                ռեստորանը չի կարող լիարժեք պատրաստել պատվերը:
                Օնլայն վճարման հետ կապված որևէ խնդիր առաջանալու դեպքում կարող եք դիմել meat.am՝
                նամակ ուղարկելով info@meat.am հասցեին կամ զանգահարելով +37410-222-000 հեռախոսահամարով:
            </p>

            <strong>Բողոքարկում</strong>

            <p>
                meat.am-ը պատասխանատվություն չի կրում կայքում ներկայացված ռեստորանի կողմից
                պատրաստված սննդի /որակի/ համար: Այնուամենայնիվ, meat.am-ն իր ուժերի ներածի
                չափով կանի ամեն ինչ, որպեսզի պաշտպանի հաճախորդի/սպառողի ռեստորանի կողմից
                ոտնահարված շահերը, ինչպես նաև որոշակի դեպքերում փոխհատուցում կկատարի պատվերի
                ընդհանուր գումարի սահմաններում:
                meat.am-ը պատասխանատվություն է կրում առաքման ժամանակի համար և պարտավորվում է
                կատարել առավելագույնն իր կողմից նշված ժամանակի մեջ առաքումն իրականացնելու համար:
                Խնդրում ենք Ձեր բողոքը նամակով ուղարկել complaint@meat.am կամ info@meat.am
                հասցեին կամ զանգահարել +37410-222-000 հեռախոսահամարով:
            </p>

            <strong>Նամակներ և անցանկալի նամակներ (Սպամ)</strong>

            <p>
                Եթե Դուք գրանցված հաճախորդ եք, ապա պարբերաբար կստանաք նամակներ meat.am-ի կողմից:
                Դուք կարող եք հրաժարվել այդ նամակների ստացումից: Այդ հարցում Ձեզ կօգնի «Հրաժարվել»
                (Unsubscribe) կոճակը, որը կարող եք գտնել ստացած նամակում, որից հետո Դուք այլևս
                չեք ստանա նամակներ meat.am-ի կողմից: Միակ նամակը, որը Դուք կստանաք meat.am-ի
                կողմից, կլինի պատվերի հաստատման նամակը: meat.am-ն անցանկալի նամակներ “spam” չի
                ուղարկում: Ավելի մանրամասն տեղեկատվություն ստանալու համար կարող եք նամակ ուղարկել
                info@meat.am հասցեին կամ զանգահարել +37410-222-000 հեռախոսահամարով:
            </p>

            <strong>Գներ</strong>

            <p>
                Չնայած նրան, որ meat.am-ում թարմացումները կատարվում են յուրաքանչյուր օր՝
                հնարավոր է երբեմն հանդիպել որոշ գների անհամապատասխանության որոշակի հիմնավոր
                պատճառներով: Ոչ ռեստորանը, ոչ meat.am-ը գնային տարբերության փոխհատուցման
                պատասխանատվություն չեն կրում:
                Գնային տարբերություն նկատելու դեպքում խնդրում ենք դիմել meat.am՝ նամակ ուղարկելով
                info@meat.am հասցեին կամ զանգահարելով +37410-222-000 հեռախոսահամարով:
            </p>

            <strong>Հեղինակային իրավունքի պաշտպանություն</strong>

            <p>
                meat.am-ը գրանցված ապրանքանիշ է: Դուք իրավունք չունեք օգտագործել, կրկնօրինակել,
                թարգմանել և/կամ տարածել meat.am ապրանքանիշն առանց թույլտվության: Եթե Դուք հետաքրքրված
                եք meat.am կայքում տեղ գտած տեղեկատվությամբ, խնդրում ենք դիմել meat.am՝ նամակ ուղարկելով
                info@meat.am հասցեին կամ զանգահարելով +37410-222-000 հեռախոսահամարով:
            </p>

            <strong>Պատասխանատվություն</strong>

            <p>
                meat.am-ը ջանք չի խնայում լավագույն ծառայություն մատուցել իր հաճախորդներին:
                meat.am-ը պատասխանատվություն չի կրում կայքի տեխնիկական անսարքությունների և
                համապատասխան ծառայության համար:
                meat.am-ը և սույն Համաձայնագիրը կարգավորվում է Հայաստանի Հանրապետության
                օրենսդրությամբ:
                meat.am © 2012-2020 – Բոլոր իրավունքները պաշտպանված են
            </p>

        </div>

    </div>
    <!--End of container-->
</section>


<footer class="footer py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-4 py-1">
                <div class="cards-img">
                    <img src="./Images/footer/cards.jpg" alt="cards" class="img">
                </div>
            </div>
            <div class="col-sm-4 py-1">
                <div>
                    <a href="./general_provisions.html">
                        Ընդհանուր դրույթներ և պայմաններ
                    </a>
                </div>
                <div>
                    <a href="./order.html">
                        Ինչպես պատվիրել
                    </a>
                </div>
            </div>
            <div class="col-sm-4 py-1">
                <div>Email: Username@gmail.com</div>
                <div>Phone: (+660 256 24857)</div>
            </div>
        </div>
    </div>
</footer>


<!-- Sign In Modal -->
<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="sign-in-register-block">
                    <button type="button" class="btn shadow-none sign-in">Sign In</button>
                    <span class="line"></span>
                    <button type="button" class="btn shadow-none register site-color">Register</button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="name" placeholder="Name">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="lastname" placeholder="Lastname">
                    </div>
                    <div class="form-group py-2">
                        <input type="email" class="form-control shadow-none" id="email" placeholder="Email">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="phone" placeholder="Phone number">
                    </div>
                    <div class="form-group py-2">
                        <input type="password" class="form-control shadow-none" id="password" placeholder="Password">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="password" class="form-control shadow-none" id="password-register_2" placeholder="Repeat Password">
                    </div>
                    <div class="custom-control custom-checkbox pb-3 pl-4 pr-3 ml-1">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label font-weight-bold" for="customCheck1">Հիշել ինձ</label>
                    </div>
                    <div class="pt-4">
                        <button type="submit" class="btn btn-block shadow-none modal-sign-in-btn">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- End of Sign In Modal -->


<script src="./Libs/jQuery/jquery.js"></script>
<script src="./Libs/Bootstrap/popper.js"></script>
<script src="./Libs/Bootstrap/bootstrap.js"></script>
<script src="./JS/gallery.js"></script>
<script src="./JS/contact.js"></script>
<script src="./JS/basket.js"></script>
<script src="./JS/script.js"></script>
</body>
</html>
