<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order</title>
    <link rel="shortcut icon" type="image/png" href="./Images/logo/logo.jpg">
    <link rel="stylesheet" href="./Libs/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./Libs/font_awesome/font_awesome.css">
    <link rel="stylesheet" href="./CSS/fonts.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/media.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white py-0">
    <div class="container nav-height">
        <a class="navbar-brand" href="./index.html">
            <img src="./Images/logo/logo.jpg" alt="" class="img">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end nav-height" id="navbarNav">
            <ul class="navbar-nav nav-height">
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./index.html">HOME</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./order.html">ORDER</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./gallery.html">GALLERY</a>
                </li>
                <li class="nav-item nav-height">
                    <a class="nav-link site-color font-weight-bold nav-height" href="./contact.html">CONTACT</a>
                </li>
                <li class="nav-item nav-height dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold nav-height" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ENGLISH
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Русский</a>
                        <a class="dropdown-item" href="#">Հայերեն</a>
                    </div>
                </li>
                <li class="nav-item nav-height pl-lg-5">
                    <button class="btn sign-in shadow-none px-lg-3 px-0 py-2" data-toggle="modal" data-target="#sign-in-modal">
                        <span class="d-lg-none font-weight-bold pr-2">SIGN IN</span>
                        <i class="fas fa-sign-in-alt"></i>
                        <!--<i class="fas fa-sign-out-alt"></i>-->
                        <!--<i class="fas fa-user"></i>-->
                    </button>
                    <div class="pb-1 sign-in-basket-line">|</div>
                </li>
                <li class="nav-item nav-height px-lg-2 px-0 py-1">
                    <a class="nav-link site-color font-weight-bold nav-height basket" href="./basket.html">
                        <span class="d-lg-none pr-2">Basket</span>
                        <i class="fas fa-shopping-basket"></i>
                        <span class="product-quantity">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>


<section class="order-content pb-4 divider">

    <div class="container py-2">

        <h2 class="site-color py-3">Ինչպե՞ս պատվիրել</h2>

        <ol>
            <li>
                <span>Լրացրեք Ձեր հասցեն, թե որտե՞ղ է պետք առաքել;</span>
            </li>
            <li>
                <span>Ընտրեք Ձեր սիրելի ճաշատեսակը կամ ապրանքը բազմաթիվ ռեստորաններից և մասնագիտացված խանութներից;</span>
            </li>
            <li>
                <span>Կատարեք օնլայն պատվեր կայքի կամ meat.am բջջային հավելվածի միջոցով;</span>
            </li>
            <li>
                <span>Ընտրեք վճարման եղանակը.</span>
                <ul class="py-3">
                    <li><span>Վճարում տեղում՝ առաքումը կատարելուց հետո;</span></li>
                    <li><span>Կրեդիտային քարտով՝ կայքով կամ բջջային հավելվածով;</span></li>
                    <li>
                        <div class="d-flex align-items-center py-2">
                            <div class="cards-img">
                                <img src="./Images/footer/cards.jpg" alt="cards" class="img">
                            </div>
                            <span class="pl-3">վճարային համակարգերի միջոցով;</span>
                        </div>
                    </li>
                </ul>
            </li>
            <li><span>Բացեք դուռը, մենք արդեն շեմին ենք:</span></li>
        </ol>

        <h5 class="font-weight-bold">Որքա՞ն ժամանակում ենք մենք առաքում</h5>

        <p>
            Առաքման միջին տևողությունը 40 րոպե է՝ կախված ուտելիքի պատրաստման ժամանակից,
            ինչպես նաև Ձեր գտնվելու վայրի և ռեստորանի միջև եղած հեռավորությունից:
        </p>

        <h5 class="font-weight-bold">Որքա՞ն արժե առաքումը</h5>

        <p>Առաքման արժեքը փոփոխական է՝ կախված</p>

        <ul>
            <li>սննդի կետի / մասնագիտացված խանութի և հաճախորդի միջև հեռավորությունից;</li>
            <li>քանի սննդի կետից / մասնագիտացված խանութից է կատարվում առաքումը;</li>
            <li>եղանակային պայմաններից;</li>
            <li>երթևեկության ծանրաբեռնվածությունից։ </li>
        </ul>

        <p>Տվյալ պահի առաքման արժեքը կարող եք տեսնել կետի էջի տվյալներում։</p>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Հեռավորություն</th>
                <th scope="col">1 կետից պատվեր</th>
                <th scope="col">պատվեր յուրաքանչյուր հաջորդ կետերից</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>մինչև 3կմ</td>
                <td>400 դրամ</td>
                <td>400-ական դրամ</td>
            </tr>
            <tr>
                <td>3,01 – 5կմ</td>
                <td>600 դրամ</td>
                <td>600-ական դրամ</td>
            </tr>
            <tr>
                <td>5,01 - 7կմ</td>
                <td>800 դրամ</td>
                <td>800-ական դրամ</td>
            </tr>
            </tbody>
        </table>


    </div>
    <!--End of container-->
</section>


<footer class="footer py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-4 py-1">
                <div class="cards-img">
                    <img src="./Images/footer/cards.jpg" alt="cards" class="img">
                </div>
            </div>
            <div class="col-sm-4 py-1">
                <div>
                    <a href="./general_provisions.html">
                        Ընդհանուր դրույթներ և պայմաններ
                    </a>
                </div>
                <div>
                    <a href="./order.html">
                        Ինչպես պատվիրել
                    </a>
                </div>
            </div>
            <div class="col-sm-4 py-1">
                <div>Email: Username@gmail.com</div>
                <div>Phone: (+660 256 24857)</div>
            </div>
        </div>
    </div>
</footer>


<!-- Sign In Modal -->
<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="sign-in-register-block">
                    <button type="button" class="btn shadow-none sign-in">Sign In</button>
                    <span class="line"></span>
                    <button type="button" class="btn shadow-none register site-color">Register</button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="name" placeholder="Name">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="lastname" placeholder="Lastname">
                    </div>
                    <div class="form-group py-2">
                        <input type="email" class="form-control shadow-none" id="email" placeholder="Email">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="text" class="form-control shadow-none" id="phone" placeholder="Phone number">
                    </div>
                    <div class="form-group py-2">
                        <input type="password" class="form-control shadow-none" id="password" placeholder="Password">
                    </div>
                    <div class="form-group py-2 d-none toggle-field">
                        <input type="password" class="form-control shadow-none" id="password-register_2" placeholder="Repeat Password">
                    </div>
                    <div class="custom-control custom-checkbox pb-3 pl-4 pr-3 ml-1">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label font-weight-bold" for="customCheck1">Հիշել ինձ</label>
                    </div>
                    <div class="pt-4">
                        <button type="submit" class="btn btn-block shadow-none modal-sign-in-btn">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- End of Sign In Modal -->


<script src="./Libs/jQuery/jquery.js"></script>
<script src="./Libs/Bootstrap/popper.js"></script>
<script src="./Libs/Bootstrap/bootstrap.js"></script>
<script src="./JS/gallery.js"></script>
<script src="./JS/contact.js"></script>
<script src="./JS/basket.js"></script>
<script src="./JS/script.js"></script>
</body>
</html>
