{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="basket-content pb-4 divider">

    <div class="container py-2">

        <div class="header-block">
            <h3 class="site-color py-3 header">
                <i class="fas fa-shopping-basket"></i>
                <span class="font-weight-bold">{% trans 'My Basket' %}</span>
            </h3>
        </div>
        <table class="table py-3">
            <thead class="thead-light">
            <tr>
                <th scope="col">{% trans 'Image' %}</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Price' %}</th>
                <th scope="col">{% trans 'Quantity' %}</th>
                <th scope="col">{% trans 'Total' %}</th>
                <th scope="col">{% trans 'Delete' %}</th>
            </tr>
            </thead>
            <tbody>

            {% for item in basket.productItems.all %}
            <tr class="py-3">
                <th scope="row">

                    <div class="basket-img">
                        {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="product" class="img product-pic">
                        {% endif %}
                    </div>
                </th>
                <td class="font-weight-bold align-middle">
                    <span class="d-sm-none">{% trans 'Product name' %}</span>
                    <a href="{% url 'product' item.product.category.url item.product.url %}"
                       class="site-color food-name">{{ item.product.title }}</a>
                </td>
                <td class="align-middle">
                    <span class="d-sm-none font-weight-bold">{% trans 'Food Price' %}</span>
                    <span class="food-price">{{ item.product.price }}</span>
                    <span>{% trans 'amd' %} </span>
                </td>
                <td class="quantity align-middle">
                    <span class="d-sm-none font-weight-bold">{% trans 'Product Quantity' %}</span>
                    <div class="d-flex add-to-basket-block">
                        <form action="{% url 'change_qty_minus' %}" method="post">
                            {% csrf_token %}
                            <input type="number" name="decrement_item" hidden value="{{ item.id }}">
                            <button type="submit" class="btn shadow-none btn-dec flex-center mr-2 border-0 btn-dec">
                                <i class="fas fa-minus site-color"></i>
                            </button>
                        </form>
                        <span class="mr-2 product-quantity align-middle">{{item.quantity}} {{item.product.measurement}}</span>
                        <form action="{% url 'change_qty_plus' %}" method="post">
                            {% csrf_token %}
                            <input type="number" hidden name="increment_item" value="{{ item.id }}">
                            <button type="submit" class="btn shadow-none btn-inc flex-center mr-2 border-0">
                                <i class="fas fa-plus site-color"></i>
                            </button>
                        </form>
                    </div>
                </td>
                <td class="align-middle">
                    <span class="d-sm-none font-weight-bold">{% trans 'Total Price' %}</span>
                    <span class="total-price">{{ item.total_price }}</span>
                    <span> {% trans 'amd' %}</span>
                </td>
                <td class="align-middle">
                    <span class="d-sm-none font-weight-bold">{% trans 'Delete' %}</span>
                    <form action="{% url 'basket_remove' %}" method="post">
                        {% csrf_token %}
                        <input type="text" hidden value="{{ item.id }}" name="remove_item">
                        <button type="submit" class="bg-transparent border-0 site-color delete-btn">
                            <i class="fas fa-times"></i>
                        </button>
                    </form>
                </td>

            </tr>

            {% endfor %}
            </tbody>
        </table>
        <div class="basket-order-part d-flex flex-wrap">
            <div class="basket-delivery">
                <div class="delivery-card-header-part d-flex">
                    <div class="delivery-card-icon-part">
                        <img src="{% static 'Images/icons/delivery.png'%}">
                    </div>
                    <div class="delivery-card-header">
                        <h4 class="site-color">Առաքում</h4>
                    </div>
                </div>
                <div class="delivery-card-content">
                    <p class="site-color">10 000 դրամ և ավելի գնումների <br> դեպքում` առաքումն անվճար:</p>
                </div>
            </div>
            <div class="order-buttons py-3">
                <a href="{% url 'home' %}" class="btn shadow-none btn-lg"><span><i class="fas fa-angle-left"></i>&nbsp;&nbsp;{% trans 'Continue Ordering' %}</span></a>

                {% if request.user.is_authenticated %}
                <a href="{% url 'ordering' %}">
                    <button type="submit" class="btn shadow-none btn-lg"><span>{% trans 'Order' %}&nbsp;&nbsp;<i
                            class="fas fa-angle-right"></i></span></button>
                </a>
<!--                <a href="{% url 'ordering' %}">Order</a>-->
                {% else %}

                {# <a href="{% url 'home' %}">
                <button type="submit" class="btn shadow-none btn-lg">{% trans 'Order' %}</button>
                </a>#}
                <button type="submit" class="btn shadow-none btn-lg">{% trans 'Order' %}</button>

                {% endif %}
            </div>
            <div class="order-summary">
                <div class="cost">
                    <div class="shipping-price py-3 font-weight-bold">
                        <span class="font-weight-bold pr-2">{% trans 'Shipping Price' %}</span>
                        <span class="price site-color">{{basket.delivery_cost}}</span>
                        <span class="site-color pl-2"> {% trans 'amd' %}</span>
                    </div>

                    <div class="products-price font-weight-bold">
                        <span class="pr-2">{% trans 'Total Price ' %}</span>
                        <span class="price site-color products-total-price">{{ basket.finale_price }}</span>
                        <span class="site-color pl-2">{% trans 'amd' %} </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--End of container-->
</section>

{% endblock %}