{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title%}VitaMix | Order{% endblock %}

{% block content %}
<main>

    <form action="{% url 'ordering' %}" method="post">
        {% csrf_token %}

        <div class="container divider">
            <section class="personal-form">
                <div class="row">
                    <div class="col-lg-4 personal-text-parts">
                        <h3 class="personal-forms-text">{% trans 'City'%}</h3>
                    </div>
                    <div class="col-lg-6 personal-input-parts">
                        {{ form.city }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 personal-text-parts">
                        <h3 class="personal-forms-text">{% trans 'Address'%}</h3>
                    </div>
                    <div class="col-lg-6 personal-input-parts">
                        {{form.address}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 personal-text-parts">
                        <h3 class="personal-forms-text">{% trans 'Phone number'%}</h3>
                    </div>
                    <div class="col-lg-6 personal-input-parts">
                        {{form.phone}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 personal-text-parts">
                        <h3 class="personal-forms-text">{% trans 'Date'%}</h3>
                    </div>
                    <div class="col-lg-6 personal-input-parts">
                        {{ form.date_shipping }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 personal-text-parts">
                        <h3 class="personal-forms-text">{% trans 'Delivery time'%}</h3>
                    </div>
                    <div class="col-lg-6 personal-input-parts">
                        {{ form.time_shipping }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 personal-text-parts">
                        <h3 class="personal-forms-text">{% trans 'Payment method'%}</h3>
                    </div>
                    <div class="col-lg-6 personal-input-parts">
                        {{ form.payment_type }}
                    </div>
                </div>

                <div>
                </div>

                <div class="personal-btn-part">
                    <button type="submit" class="order-btn">{% trans 'Order'%}</button>
                </div>
            </section>
        </div>
    </form>


    <div class="container my-5 border">

    </div>

</main>
{% endblock %}



